:host {
  display: block;
  padding: 30px;
}

:host::ng-deep {
  mat-tab-header {
    border: none;
  }
}


@media all and (max-width: 575px) {
  :host::ng-deep {
    mat-tab-header {
      .mat-tab-labels {
        .mat-tab-label-content {
          display: none;

        }
        .mat-tab-label {
          &:nth-child(1) {
            &:after {
              content: 'MAIN';
            }
          }

          &:nth-child(2) {
            &:after {
              content: 'FAVORITE';
            }
          }
        }


      }


    }
  }
}



