ul {
  margin: 0;
  padding: 0;
  list-style: none;

}
.boxData {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.right_part {
  padding-left: 10px;
}


@media all and (max-width: 414px) {
  .right_part {
    word-break: break-word;
  }
}
