mat-form-field {
  width: 100%;
}

mat-table {
  mat-icon {
    font-size: 30px;
    cursor: pointer;
  }

  &.table-view {

    box-shadow: none;
    border-radius: 6px;
    overflow: hidden;
    .mat-column-flag, .ico-cell {
      display: none;
    }

    mat-header-cell {
      background: #e4e4e4;
      padding: 0 10px;
      border-right: 1px solid #ccc;
      &:nth-child(2) {
        padding-left: 30px;
      }
      &:last-of-type {
        padding-right: 30px;
      }
    }
    mat-cell {
      padding: 0 10px;
      border-right: 1px solid #ccc;
      word-break: break-word;
      &:nth-child(2) {
        padding-left: 30px;
      }
      &:last-of-type {
        padding-right: 30px;
        border-right: none;
      }
    }

    mat-row {
      padding: 10px 0;
      align-items: normal;
      &:nth-child(odd) {
        background: rgb(251 251 251 / 58%);
      }
    }

    mat-row, mat-header-row {
      width: 100%;
    }

    .batCellButtons {
      flex: 0.2;
    }


  }

  &.block-view {
    width: 100%;
    flex-flow: row wrap;
    box-shadow: none;
    display: grid;
    grid-template-columns: repeat(4, 23.7%);
    grid-gap: 30px;
    justify-content: space-between;



    mat-header-row {
      display: none;
    }

    mat-row {
      flex-basis: 23%;
      border: none;
      display: flex;
      margin-bottom: 20px;
     // margin: 0 1% 30px;

      &:last-of-type {
        //margin-left: 30px;
        //margin-right: auto;
      }
      &:first-of-type {
        //margin-left: 0;
      }
      img {
        width: 70%;
        margin-bottom: 15px;
      }
      button {
        margin-top: auto;
      }

      .nameCountry {
        padding: 15px 0;
      }
    }
    mat-cell {
      display: none;
      padding: 0;
      &.ico-cell {
        display: flex;
        border: 1px solid #e0e0e0;
        border-radius: 6px;
        height: 100%;
        flex-flow: column;
        justify-content: flex-start;
        transition: all ease 0.3s;
        padding-bottom: 15px;
        &:hover {
          border: 1px solid #000;
          cursor: pointer;
        }
      }
    }
  }


  &.transformed {
    width: 100%;
    overflow-x: scroll;
  }
}



::ng-deep .mat-tooltip {
  font-size: 15px;
}




@media all and (max-width: 1919px) {
  mat-table {
    &.block-view {
      grid-template-columns: repeat(4, 22.5%);
    }
  }
}
@media all and (max-width: 991px) {
  mat-table {
    &.block-view {
      display: flex;
      mat-row {
        flex-basis: 47%;
      }
    }

  }

}
@media all and (max-width: 768px) {
  mat-table {
    &.transformed {

      mat-row, mat-header-row {
        width: 3377px !important;

      }
    }
  }
}
@media all and (max-width: 575px) {
  mat-table {
    &.block-view {
      mat-row {
        flex-basis: 100%;
      }
    }
  }
}
