<app-tools
  (filterEvent)="initSearch($event)"
  (changeViewEvent)="changeView($event)"
  [columnsData]="displayedColumns"
  [tableClass]="tableClass"
  [isMaxInView]="isMaxInView"
  [baseWidth]="baseWidth"
  (columnFilter)="addRemoveColumn($event)">
</app-tools>


<mat-table [class.transformed]="isMaxInView && tableClass === 'table-view'" [ngClass]="tableClass" matSort  [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container [sticky]="column === 'add'" [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <ng-container *ngIf="column !== 'add'">
      <mat-header-cell  *matHeaderCellDef  mat-sort-header>
        <strong>{{column}}</strong>
      </mat-header-cell>
    </ng-container>

    <ng-container *ngIf="column === 'add'">
      <mat-header-cell [class.batCellButtons]="column === 'add'" *matHeaderCellDef>
        <strong *ngIf="isFavoriteList">remove</strong>
        <strong *ngIf="!isFavoriteList">add</strong>


      </mat-header-cell>
    </ng-container>




    <mat-cell (click)="tableClass === 'block-view' && countriesService.isOverflown ? callAdditionalInfo(element) : ''" [class.batCellButtons]="column === 'add'" [class.ico-cell]="column === 'flag'" *matCellDef="let element;">
      <ng-container *ngIf="column === 'flag'">
          <div *ngIf="tableClass === 'block-view'" class="nameCountry">
            {{element.name}}
          </div>
          <img width="30" src="{{element[column]}}" alt="">

          <button (click)="addCountryToList(element)" *ngIf="!isFavoriteList" mat-flat-button color="primary">Add</button>
          <button (click)="removeCountryFromList(element.name)" *ngIf="isFavoriteList" mat-flat-button color="primary">Remove</button>
      </ng-container>
      <ng-container *ngIf="column !== 'flag' && column !== 'currencies' && column !== 'languages' && column !== 'translations' && column !== 'add'">
        {{element[column]}}
      </ng-container>
      <ng-container *ngIf="column === 'currencies' || column === 'languages'">
        <div style="display: flex; flex-flow: column;">
          <div *ngFor="let listEl of element[column]; let i = index">
            {{i + 1}}
            <div *ngFor="let item of listEl | keyvalue">
              <strong>{{item.key}}</strong>: {{item.value}}
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="column === 'translations'">
        <div style="display: flex; flex-flow: column;">
          <div *ngFor="let item of element[column] | keyvalue">
            {{item.key}}: {{item.value}}
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="column === 'add'">
        <mat-icon matTooltipClass="tooltip" matTooltip="Add country to Favorite List" *ngIf="!isFavoriteList" (click)="addCountryToList(element)" aria-hidden="false">add_circle_outline</mat-icon>
        <mat-icon matTooltipClass="tooltip" matTooltip="Remove country" *ngIf="isFavoriteList" (click)="removeCountryFromList(element.name)" aria-hidden="false">remove_circle_outline</mat-icon>
      </ng-container>
    </mat-cell>

  </ng-container>

  <mat-header-row [ngStyle]="{'width': isMaxInView &&  tableClass === 'table-view'? baseWidth + '%' : '100%' }" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="rowTest" [ngStyle]="{'width': isMaxInView && tableClass === 'table-view' ? baseWidth + '%' : '100%' }" *matRowDef="let row; columns: displayedColumns;"></mat-row>


</mat-table>

<mat-paginator [pageSize]="10"></mat-paginator>
