mat-form-field {
  width: 100%;
}

mat-table {
  &.table-view {

    box-shadow: none;
    border-radius: 6px;
    overflow: hidden;
    .mat-column-flag, .ico-cell {
      display: none;
    }

    mat-header-cell {
      background: #e4e4e4;
      padding: 0 10px;
      border-right: 1px solid #ccc;
      &:nth-child(2) {
        padding-left: 30px;
      }
      &:last-of-type {
        padding-right: 30px;
      }
    }
    mat-cell {
      padding: 0 10px;
      border-right: 1px solid #ccc;
      word-break: break-word;
      &:nth-child(2) {
        padding-left: 30px;
      }
      &:last-of-type {
        padding-right: 30px;
        border-right: none;
      }
    }

    mat-row {
      padding: 10px 0;
      align-items: normal;
      &:nth-child(odd) {
        background: rgb(251 251 251 / 58%);
      }
    }


  }

  &.block-view {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: none;
    justify-content: space-between;
    mat-header-row {
      display: none;
    }

    mat-row {
      flex-basis: 23%;
      border: none;
      display: flex;
      margin-bottom: 30px;

      &:last-of-type {
        margin-left: 30px;
        margin-right: auto;
      }
      &:first-of-type {
        margin-left: 0;
      }
      img {
        width: 70%;
        margin-bottom: 15px;
      }

      .nameCountry {
        padding: 15px 0;
      }
    }
    mat-cell {
      display: none;
      padding: 0;
      &.ico-cell {
        display: flex;
        border: 1px solid #ccc;
        height: 100%;
        flex-flow: column;
        justify-content: flex-start;
        transition: all ease 0.3s;
        &:hover {
          border: 1px solid #000;
          cursor: pointer;
        }
      }
    }
  }


  &.transformed {
    width: 100%;
    overflow-x: scroll;
    mat-row, mat-header-row {
      width: 3377px;
      //display: block;
      //&:nth-child(odd) {
      //  background: rgb(251 251 251 / 58%);
      //}
    }
  }
}

.tools {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 28px 0 10px;
}

.buttons {
  padding-top: 4px;
  margin-left: 30px;
}

.selectColumn {
  margin: 0 0 0 30px;
}
